<div class="container my-5">
    <h2 class="fw-bold mb-4">FORFEO en action</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="ratio ratio-16x9 shadow-sm rounded overflow-hidden">
                <video src="" controls poster="/poster1.png"></video>
            </div>
        </div>
        <div class="col">
            <div class="ratio ratio-16x9 shadow-sm rounded overflow-hidden">
                <video src="" controls poster="/poster2.png"></video>
            </div>
        </div>
        <div class="col">
            <div class="ratio ratio-16x9 shadow-sm rounded overflow-hidden">
                <video src="" controls poster="/poster3.png"></video>
            </div>
        </div>
    </div>
</div>
